{% extends 'base.html' %}

{% block title %}Ropa{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">Ropa disponible</h1>
    <ul>
        {% for item in ropa %}
            <li>{{ item.nombre }}</li>
            <li>{{ item.descripcion }}</li>
            <li>${{ item.precio }}</li>
            {% if item.imagen %}
                <img src="{{ item.imagen.url }}" alt="{{ item.nombre }}" width="200">
            {% else %}
                <p>No hay imagen</p>
            {% endif %}
            <div class="flex justify-between mt-2 items-center text-center">
                <a class="flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{% url 'editar_ropa' item.id %}">Editar</a>
                <a class="flex bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" href="{% url 'eliminar_ropa' item.id %}">Eliminar</a>
            </div>
            <hr />
        {% endfor %}
    </ul>
{% endblock %}

