<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Ropa disponible</h1>
    <ul>
        {% for item in ropa %}
            <li>{{ item.nombre }}</li>
            <li>{{ item.descripcion }}</li>
            <li>${{ item.precio }}</li>
            {% if item.imagen %}
                <img src="{{ item.imagen.url }}" alt="{{ item.nombre }}" width="200">
            {% else %}
                <p>No hay imagen</p>
            {% endif %}
        {% endfor %}
    </ul>

</body>
</html>